fieldset.box.position(data-positionid=position.id)
	div.row
		div.col-xs-4.col-sm-3.col-md-2
			h4 Title
		div.col-xs-8.col-sm-6.col-md-4
			p(data-title)= position.title

	div.row
		div.col-xs-4.col-sm-3.col-md-2
			h4 Employer
		div.col-xs-8.col-sm-6.col-md-4
			p(data-employer)= position.employer

	div.row
		div.col-xs-2
			h4 Start Date
		div.col-xs-4.col-sm-3.col-md-2
			p.date= position.startMonth + " " + position.startYear
		div.col-xs-2
			h4 End Date
		div.col-xs-4.col-sm-3.col-md-2
			p.date= position.endMonth + " " + position.endYear
	div.row
		div.col-xs-4.col-sm-3.col-md-2
			h4 Location
		div.col-xs-8.col-sm-6.col-md-4
			p=position.location

	h4 Description
	pre= position.description
	
	button.btn.btn-danger.btn-sm.deletePosition(type="button")
		span.glyphicon.glyphicon-trash
	button.btn.btn-primary.btn-sm.editPositionOpener(type="button")
		span.glyphicon.glyphicon-pencil